@import "./config/constants.scss"

body
  background-color: $background
  height: 100vh
  overflow: hidden
  .btn.waves-effect
    height: auto
    min-height: 20px
    line-height: 20px
    padding-top: 8px
    padding-bottom: 8px