@import "../../config/constants.scss"
$image: 102px
.client
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  .image
    border: 1px solid $primary-color
    border-radius: 50%
    width: $image
    height: $image