@import "../../config/constants.scss"
.add_device
  display: flex
  flex-direction: column
  h5
    align-self: center
    margin: 0
  .form
    display: flex
    flex-direction: row
    justify-content: space-around
    flex-wrap: wrap
    align-items: center
    .input-field
      margin-left: 5px
      margin-right: 5px
      label
        left: 0
        font-size: 17px
  .btn
    align-self: center
    margin: 5px
    margin-bottom: 9px
  video
    background-color: $primary-color
    width: 640px
    max-width: 70vw
    align-self: center
  .compability_info
    align-self: center
    font-size: 12px
    padding: 3px