$primary-color: #424242;
$secondary-color: #26a69a;
$background: #f5f5f5;
$success-color: #4caf50;
$error-color: #f44336;
$collapsible-border-color: rgb(221, 221, 221);

$navbar-height: 48px;
$footer-height: 48px;
$navbar-height-mobile: $navbar-height;
$sidenav-item-height: 24px;
$sidenav-font-size: 16px;
$navbar-font-size: 16px;
$card-padding: 12px;