.input-field:not(.at-input)
  min-width: 290px
  i.material-icons
    top: 0.4rem
    font-size: 1.7rem
  input
    margin-left: 32px!important
    height: 2rem!important
    margin-bottom: 0!important
  label
    margin-left: 30.7px!important
    font-size: 1.1rem!important
    line-height: 1.1!important