@import "../../config/constants.scss"
.user_search_card
  min-width: 170px
  margin: 5px
  .action
    margin: 0 2.5px
    color: $success-color
    cursor: default
    &.block_contact
      
    &:not(.send)
      cursor: pointer
      color: $secondary-color
      &:hover
        color: $primary-color