@import '../../config/constants.scss'

$width: 260px

#leftsidenav
  color: $primary-color
  height: calc(100vh - #{$navbar-height})
  width: $width
  position: fixed
  left: 0
  z-index: 999
  background-color: lighten($background, 3%)
  transition: left 0.3s ease-in-out
  border-right: 1px solid $primary-color
  &>*
    background-color: lighten($background, 3%)
  &.leftsidenav_closed
    left: -$width
  a
    color: $primary-color
  .collapsible
    margin: 0
    .collapsible-body
      padding: 0
      ul
        li
          padding: 8px 0
          padding-left: 30px
          font-size: 18px
          border-bottom: 0.5px solid $collapsible-border-color
          .collapsible_link
            color: lighten($primary-color, 9%)
      span
        padding-left: 30px
        color: $primary-color
    .collapsible-header
      padding: 8px
      line-height: 1.7
      font-size: 20px
      align-items: center
      padding-right: 0
      i
        margin-right: 7px
      .expand, .expand_less
        display: block
        margin-left: auto
        margin-right: 0
      .expand_less
        display: none
      &.active
        .expand
          display: none
        .expand_less
          display: block
  .client
    color: $primary-color
    height: 45px
    display: flex
    padding: 7px
    padding-left: 11px
    align-items: center
    i
      margin-right: 17px
  .ads
    position: absolute
    bottom: 0
    z-index: -1
    .aliexpress_advertisement
      padding: 3px
      border-top: 1px solid $primary-color
      &>a
        display: flex
        align-items: center
        font-size: 12px
        *
          text-align: center
        img
          height: 90px