@import "../../config/constants.scss"
.footer
  height: $footer-height
  background-color: $primary-color
  color: #fff
  padding: 2px 5px
  display: flex
  justify-content: space-between
  align-items: center
  .contacts
    font-size: 12px
    line-height: 14px
  .visa_master
    img
      height: 42px