.video_container
  display: flex
  justify-content: space-around
  flex-wrap: wrap-reverse
  div
    margin: 5px
  &>*
    flex: 1 1 360px
  .info
    display: flex
    flex-direction: column
    align-items: center