.add_device
  .video_container
    display: flex
    justify-content: space-around
    flex-wrap: wrap-reverse
    div
      margin: 5px
    &>*
      flex: 1 1 360px
    .paying
      .info, .buttons
        display: flex
        flex-direction: column
        align-items: center
    .video_plus_rec_buttons
      display: flex
      flex-direction: column
      margin: 0
      flex: 0 0 360px
      .record_info
        margin: 3px
        text-align: center
        font-size: 14px
      .rec_buttons
        margin: 3px
        display: flex
        justify-content: space-around
        .btn
          margin: 3px
      .loading_info
        text-align: center
      .preloader_back div
        margin: 0
  .remove_stream
    margin: 42px 5px 0
.currency_info
  margin: 0 3px
  text-align: center
  font-size: 12px      